.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1512px;
}

.contact-form__heading {
    margin: 0px auto;
}

h2 {
    font-family: "Inika", serif;
    color: #8B7969;
    font-weight: normal;
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
}

.form {
    margin: 30px auto;
    width: 65%;
    text-align: center;
}

.form__item {
    margin: 0 auto;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 40px;
}

.form__group-title {
    padding: 0 25px;
    text-align: left;
    vertical-align: top;
}

.form__label--item {
    font-size: 17px;
    color: #8B7969;
    /* text-align: left; */
    font-weight: 500;
}

.form__label--item form__label--detail {
    font-size: 17px;
    color: #8B7969;
    text-align: left;
    display: flex;
    align-items: flex-start;
}

.form__label--required {
    color: #ff0000;
}

.form__error {
    height: 40px;
    color: #ff0000;
    text-align: left;
    padding: 0 20px;
    margin: 0;
}

.form__error ul {
    padding: 0;
    margin: 0;
    display: flex;
}

.form__error li {
    padding: 0px 20px;
    list-style:none
}

.form__group-content {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    align-items: center;
    text-align: center;
}

.form__input--text input,
.form__input--textarea textarea {
    margin: 0;
    padding: 10px 20px;
    width: 600px;
    border: none;
    border-radius: 0;
    background-color: #F4F4F4;
    outline: none;
    color: #BEB1A6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form__input--text--name {
    display: flex;
    /* display: space-between; */
    margin: 0;
}

.form__input--text--name input {
    width: 290px;
    border: none;
    background-color: #F4F4F4;
    color: #BEB1A6;
    margin: 0 25px 0 0;
    /* height: 40px; */
    padding: 10px 20px;
}

.form__input--radio {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    /* height: 40px; */
    margin: 0 0;
}

input[type="radio"] {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

input[type="radio"]+span {
    position: relative;
    display: flex;
    /*円とテキストを横並びにする*/
    align-items: center;
    /*円とテキストを中央揃えにする*/
    color: #8B7969;
}

input[type="radio"]+span::before {
    display: block;
    content: "";
    border-radius: 50%;
    border: 1px solid #8B7969;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    /*円とテキストの間隔はここで調節*/
    /* color: #8B7969; */
}

input[type="radio"]:checked +span::after {
    display: block;
    position: absolute;
    content: "";
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: none;
    background-color: #82756A;
}

.form__input--text--tel {
    display: flex;
    justify-content: space-between;
}

.form__input--text--tel input {
    width: 180px;
    border: none;
    background-color: #F4F4F4;
    color: #BEB1A6;
    text-align: center;
    height: 40px;
}

.form__group-content span {
    color: #8B7969;
    margin: 0 12px;
    display: flex;
    align-items: center;
}

select {
    -webkit-appearance: none;
    appearance: none;
}


.form__input--select {
    position: relative;
    display: flex;
    align-items: center;
    border: none;
    background-color: #F4F4F4;
    color: #BEB1A6;
    width: 300px;
}

/*プルダウンの三角を設定*/
.form__input--select::before {
    position: absolute;
    right: 15px;
    content: '';
    width: 16px;
    height: 8px;
    background: #BEB1A6;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.search-form__item-gender select,
.search-form__item-category select{
    width: 100%;
    padding: 10px 45px 10px 10px;
    cursor: pointer;
    text-overflow: ellipsis;
    /*テキストがオーバーしたら'...'で省略*/
    z-index: 1;
    /* 標準のスタイルを無効にする */
    border: none;
    appearance: none;
    outline: none;
    background: transparent;
}

select:invalid {
    color: #D7D0CA;
}

/* 選択した後も1つめの初期値の色を変える */
select option:first-child {
    color: #BEB1A6;
}

/* optionタグ内の色を指定 */
select option {
    color: #BEB1A6;
}

.form__input--textarea textarea {
    resize: none;
    height: 100px;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    padding: 10px;
    width: 160px;
    font-size: 17px;
    height: 50px;
    border: none;
    background-color: #82756A;
    color: #fff;
    cursor: pointer;
}